body{
    margin: 0px;
     padding: 0px;
     outline: none;
     font-family: 'Roboto', sans-serif;
}
 *{
    outline: none;
}
 .main-pnl {
     width: 100%;
     height: 100vh;
     background-image: url(../img/bghome.jpg);
     float: left;
     background-repeat: no-repeat;
     background-size: cover;
}
 div#myCarousel h2 {
     margin: 0px;
     font-size: 16px;
     color: #0f74bb;
     font-family: 'Roboto', sans-serif;
}
 .profile.hid:before {
     display: none;
}

 .profile.hid {
     padding: 0px 0px 1px;
}
.carousel-inner p {
        font-size: 22px;
    padding: 8px 14px;
    font-weight: 100;
    color: #FFEB3B;
    font-family: 'Kalam', cursive;
}
 .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
     font-weight: 100;
     font-size: 20px !important;
}



 .think-pnl {
     float: left;
     position: relative;
     width: 100%;
     padding: 10px 40px;
}
 img.think {
     position: fixed;
     bottom: 0;
}
 div#Section1,div#Section2 {
     background: #6b97ad;
     padding: 20px 40px;
}
 h1.hone {
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
}

 form#login-form {
     text-align: center;
}
 button.login-button {
     background: #0076bd;
     border: none;
     color: #fff;
     text-transform: uppercase;
     padding: 9px 27px;
     display: inline-block;
}
 .etc-login-form p {
     color: #fff;
     padding-top: 12px;
}

 .etc-login-form p a:hover {
     color: #fff;
}
}
 
 input#lg_username,input#lg_password {
     color: #fff;
     letter-spacing: 1px;
}
 .nav-tabs {
     border-bottom: 0px solid #1954b7 !important;
}
 .text-slide {
        position: absolute;
    top: 95px;
    left: 256px;
    width: 25%;
    font-size: 21px;
    color: #000000;
    text-align: center;
    line-height: 36px;
}
 .text-slide .carousel-indicators li {
     display: none;
}
/* .form-control:focus {
     border-color: #ffffff !important;
}*/
 ul.nav.nav-tabs a {
     width: 94px;
     color: #fff;
     height: 37px;
     background-color: #0e95ff;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     position: absolute;
     left: -66px;
     top: 29px;
}
 ul.nav.nav-tabs .one-tb a {
     width: 94px;
     text-align: center;
     letter-spacing: 2px;
     color: #fff;
     height: 37px;
     background-color: #0f46a2;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     position: absolute;
     left: -65px;
     top: 29px;
     border: none;
     border-radius: 4px;
}
 span.tm input[type=checkbox], input[type=radio] {
     margin: 4px 0 4px;
     line-height: normal;
     margin-bottom: 22px;
}

 .nav-tabs {
     margin-top: 0px !important;
}
 .login-group {
     min-height: 269px;
}
 button.login-button:hover {
     background: #000000;
}

 .post{
    margin-bottom: 15px;
}

 section.think-pnl.post-pnl {
     padding-top: 20px;
}

 .org{
    background: #f17e00;
}
 .row.org h3 {
     margin: 0px;
     color: #fff;
     text-transform: uppercase;
     font-size: 18px;
     line-height: 39px;
     font-family: 'Roboto', sans-serif;
}
 a.left.fa.fa-chevron-left.btn.btn-success, a.right.fa.fa-chevron-right.btn.btn-success {
     background: none;
     border: none;
     line-height: 39px;
     margin: 0px;
     padding: 0px 4px;
     font-weight: 100;
}
 .info {
     position: absolute;
     bottom: -10px;
     left: 0;
     width: 100%;
}
 .info h5 {
     color: #fff;
     text-transform: uppercase;
     line-height: 21px;
     width: 100%;
     padding: 3px 11px;
     letter-spacing: 1px;
     background: #000000b0;
     text-align: left;
     font-size: 12px;
     font-weight: 300;
}
 .post-pnl .dropdown-menu>li>a:focus, .post-pnl .dropdown-menu>li>a:hover {
     color: #ffffff !important;
     text-decoration: none;
     background-color: #0075ba !important;
}
 ul.dropdown-menu.side-fix {
     padding: 0px;
}
 img.prv {
     padding: 5px 0px;
     width: 40px;
     height: 50px;
     object-fit: cover;
}
 .item {
     margin-top: 13px;
     margin-bottom: 13px;
}
 .col-sm-3.ped-crsl {
     padding: 4px;
}
 .pro img {
     width: 50px;
     height: 50px;
     border-radius: 50px;
}

.profile h4 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 15px;
    display: inline-block;
    line-height: 25px;
    padding-left: 8px;
}

button.btn.hme.btn-warning {
    margin-bottom: 20px;
    color: #4988a7;
    text-align: left;
    width: 100%;
    background: no-repeat;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 8px;
    margin-top: 15px;
    border: none !important;
}
.slide-three h4 {
    margin-top: 0px;
    text-align: left;
}
 .pro1 {
     float: left;
     padding-right: 12px;
}

 .post-img img{
    width: 100%;
}
 .post-img {
     width: 100%;
     margin: 12px 0px;
     display: inline-block;
         height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
        /*background-size: 520px 410px;*/
}

 i.fa.fa-ellipsis-v {
     float: right;
     font-size: 24px;
     color: #0f74bb;
}
 .share-area ul {
     margin: 0px;
     padding: 0px;
}

 span.post-time {
     font-size: 12px;
    color: #8e9298;
    letter-spacing: 0px;
    text-transform: capitalize;
        padding-left: 6px;
}
 .pro{
    position: relative;
        float: left;
}
 .post img{
    width: 100%;
}

 img.profile-photo-md {
     height: 50px;
     width: 50px;
     border-radius: 50%;
}
 .create-post .form-group .form-control {
     border: 1px solid #ccc;
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
 .pd0 {
     padding: 0px !important;
}

 .create-post .form-group img.profile-photo-md {
     margin-right: 10px;
}

 <style> .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
     margin: 0;
     padding: 0;
     border: none;
     box-shadow: none;
     text-align: center;
}
 .kv-avatar {
     display: inline-block;
}
 .kv-avatar .file-input {
     display: table-cell;
     width: 213px;
}
 .kv-reqd {
     color: red;
     font-family: monospace;
     font-weight: normal;
}
 </style> .btn-file input[type=file] {
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 100%;
     text-align: right;
     opacity: 0;
     background: none;
     cursor: inherit;
     display: block;
}
 .atch input[type=file] {
     display: block;
     opacity: 0;
     cursor: pointer;
     width: 11px;
}
 .vd-post {
     background: #3379b7;
     width: 36px;
     height: 36px;
     border-radius: 4px;
     position: absolute;
     margin-top: 15px;
     top: -15px;
     left: 64px;
}
 .col-md-12.col-sm-12.atch {
     margin-bottom: 20px;
}
 .tools{
     position: absolute;
     top: 0;
     right: 17px;
}
 input#video {
     top: 9px;
     position: absolute;
}
 i.fa.fa-video-camera {
     color: #717171;
     text-align: center;
}
 .post-bt:hover {
     background: #004d84;
}
 .carousel-inner>.item>a>img, .carousel-inner>.item>img {
     width: 100% !important;
}
/*.share-area li:nth-last-child(2) {
    padding-right: 0px !important;
}*/
 .carousel-inner img {
     width: 100% !important;
}
 div#myCarousel .carousel-inner img {
     width: 100%;
}
 .carousel-inner .item img {
     width: 100% !important;
}
.post-bt {
        padding: 3px 9px;
    line-height: 18px;
    background: #8acdfd;
    border: 1px solid #8acdfd;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}
header.header img {
    width: 125px;
}

 .up-img{
     position: absolute;
     bottom: 10px;
     width: 20px;
     opacity: 0;
}
 .up-img input[type="file"] {
     width: 10px;
}
 .up-vid {
     position: absolute;
     bottom: 10px;
     width: 20px;
     opacity: 0;
     left: 39px;
}
 .up-aud {
     position: absolute;
     bottom: 10px;
     width: 20px;
     opacity: 0;
     left: 68px;
}
 .up-vid input[type="file"] {
     width: 10px;
}
 .atch .glyphicon {
     position: absolute;
     left: 26px;
     color: #fff;
     display: inline-block;
     font-family: 'Glyphicons Halflings';

     font-style: normal;
     font-weight: 400;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     top: 9px;
     cursor: pointer;
}
/*drop*/
 .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
}
 .dropdown {
     position: relative;
     display: inline-block;
     float: right;
}
 .col-md-12.cmnt-pnl-ped .post-bt {
     float: right;
     margin-top: 20px;
}
 .carousel-control.left,.carousel-control.right{
        position: absolute;
    background: none !important;
    top: 29px;
    bottom: 19px;
}


 .dropdown-content {
     display: none;
     top: 0px;
     right: 0px;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
 .dropdown-content a:hover {
    background-color: #ddd
}
 .dropdown:hover .dropdown-content {
     display: block;
}
 .dropdown:hover .dropbtn {
     background-color: #3e8e41;
}
 .hr {
     height: 1px;
     width: 100%;
     background: #e0e0e0;
     float: left;
}
 .col-md-11.cmnt-pnl-ped span.pro-name {
   background: #e9ebee;
    font-size: 12px;
    margin-top: 3px;
    padding: 7px 16px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-family: 'roboto', sans-serif;
    display: block;
}
span.post-time span {
    padding-left: 5px;
}

 .col-md-12.cmnt-pnl-ped {
     padding: 0px;
}
 .col-md-11.cmnt-pnl-ped {
     padding: 0px;
}
 .cmnt-box {
     display: table;
     cursor: pointer;
}
 li.float-right {
     float: right;
}
 .col-md-6.cmnt-pnl-ped {
     padding: 0px;
}
 .col-md-12.col-sm-4.col-xs-12.top-pd-20.cmnt-pnl {
     padding: 10px 0px;
}


 span.rpl a {
     color: #ababab;
     padding-left: 6px;
}
 ul.dropdown-menu.side-fix {
     left: auto;
     right: 0;
}
 .delete_btn {
     width: 16px;
     height: 16px;
     float: right;
     background: url('../img/message_sprite.png') 0 -16px;
     background-size: 32px;
     cursor: pointer;
}
 .message-notification{
     float: left;
     width: 100%;
}
 a.forget {
     color: #8bb6ff;
     font-size: 12px;
     letter-spacing: 1px;
     font-weight: 100;
}

 span.no-text {
     font-size: 15px;
}
 .tab-content.forgt {
     margin-top: 35px;
}
/*drop*/
/*tab*/
/*Fun begins*/
 .tab_container {
     width: 90%;
     margin: 0 auto;
     position: relative;
}
 .updates input{
     clear: both;
     padding-top: 10px;
     display: none;
}
 .updates section {
     clear: both;
     padding-top: 10px;
}
 label.tb {
     font-weight: 300;
     font-size: 14px;
     display: block;
     float: left;
     width: 25%;
     padding: 1.5em;
     color: #757575;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
     background: #f0f0f0;
}
/* ul.nav.nav-tabs li a:focus {
     background-color:#d94030;
    border-color: #d94030;
}*/
/*ul.nav.nav-tabs li.two-tb a:focus {background-color: #d94030;}
.btn-primary:hover {
    color: #fff;
    background-color: #1b96ff;
    border-color: #1b96ff;
}*/
.nav-tabs>li.active>a {
    background: #d94030 !important;
    }
 .updates input.form-control {
     display: block;
     padding: 10px;
     border-radius: 0px;
     margin-bottom:10px;
}
}
 .tab-content.forgt .form-control{
    color: #eaeaea;
}
 .checkbox input {
     display: block;
     position: relative;
     left: 22px;
}

 h4.upd-h4 {
     clear: both;
     margin: 0px !important;
     padding: 5px 15px 10px;
    /* border-bottom: 1px solid #eaeaea;
     */
}
 .updates .checkbox{
     margin-top: 0px;
     margin-bottom: 16px;
}
 input.file.form-control {
     border: 0px solid;
     margin-bottom: 25px;
}
 .updates select.form-control{
    margin-bottom:10px;
}
 .upd{
    margin-bottom: 30px;
}
 #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 {
     display: block;
     padding: 20px;
     background: #fff;
     color: #999;
}
 .tab_container .tab-content p, .tab_container .tab-content h3 {
     -webkit-animation: fadeInScale 0.7s ease-in-out;
     -moz-animation: fadeInScale 0.7s ease-in-out;
     animation: fadeInScale 0.7s ease-in-out;
}
 .tab_container .tab-content h3 {
     text-align: center;
}
 .tab_container [id^="tab"]:checked + label {
     background: #fff;
     box-shadow: inset 0 3px #0CE;
}
 .tab_container [id^="tab"]:checked + label .fa {
     color: #0CE;
}
 label .fa {
     font-size: 1.3em;
     margin: 0 0.4em 0 0;
}
/*Media query*/
 @media only screen and (max-width: 930px) {
     label span {
         font-size: 14px;
    }
     label .fa {
         font-size: 14px;
    }
}
 @media only screen and (max-width: 768px) {
     label span {
         display: none;
    }
     label .fa {
         font-size: 16px;
    }
     .tab_container {
         width: 98%;
    }
}
/*Content Animation*/
 @keyframes fadeInScale {
     0% {
         transform: scale(0.9);
         opacity: 0;
    }
     100% {
         transform: scale(1);
         opacity: 1;
    }
}
 .pointer {
    cursor: pointer;
}
 ol.carousel-indicators{
    display:none;
}
 .cover img {
     width: 100%;
     min-height: 400px;
     max-height: 400px;
     object-fit: cover;
}
 .pro-pnl {
     margin-top: 40px;
}

 

 .village-user-name {
     font-size: 13px;
     text-transform: capitalize;
     color: #333;
     letter-spacing: 1px;
     font-family: 'Roboto', sans-serif;
}

 .roted{
    transform: rotate(90deg);
     float: left;
     width:10%
}

 .roted h2 {
     width: 100%;
     font-size: 15px;
     padding: 0px;
     margin: 0px;
     color: #333;
     position: relative;
     left: 40px;
     white-space: nowrap;
}
 .bg-sld {
     margin-bottom: 10px;
}
.col-md-3.col-sm-3.col-xs-12.bg-sld {
    padding: 0px;
}
.cover-pro i {
    position: absolute;
    left: 4px;
    font-size: 15px;
    color: #fff;
    opacity: 0.8;
    top: 8px;
    background: #000;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 50px;
}
 .cover-pro:hover .over-ic{
    display: block;
}
 .cover:hover .over-ic1{
    display: block;
}
 .over-ic{
    display: none;
}
 .over-ic1{
    display: none;
}


/*tab*/
/*activity*/
 .col-md-12.col-sm-4.col-xs-12.box-shd.activity {
     padding: 20px;
}
 .activity-img li {
     float: left;
     list-style: none;
     width: 100%;
     margin: 2px;
}
 .activity-img ul {
     margin: 0px;
}
 .activity-img li img {
     max-height: 160px;
     min-height: 160px;
     object-fit: cover;
}
 span.activity-name {
     font-size: 13px;
     display: block;
     color: #0f74bb;
}

 span.activity-date {
     font-size: 13px;
     display: block;
     color: #b4b4b5;
     line-height: 22px;
     font-weight: 100;
}
 i.fa.fa-pencil {
     float: right;
     color: #b1abab;
     cursor: pointer;
}
 ul.dropdown-menu {
     left: auto;
     right: 0;
     border: 0px;
     margin: 0px;
     padding: 0;
}
 span.name-seprter {
     color: #333;
}
/*activity*/

 *{
    outline: none;
}

 div#myCarousel h2 {
     margin: 0px;
     font-size: 16px;
     color: #0f74bb;
     font-family: 'Roboto', sans-serif;
}
 .profile.hid:before {
     display: none;
}
 .profile.hid {
     padding: 0px 0px 1px;
}

 .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
     font-weight: 100;
     font-size: 20px !important;
}
 .header {
         float: left;
    background: #0e73bc;
    width: 100%;
    padding: 5px 40px;
}
.tagline {
        text-align: right;
    font-size: 34px;
    line-height: 57px;
    color: #FFEB3B;
    letter-spacing: 0px;
    font-family: 'Kalam', cursive;
}
 .think-pnl {
     float: left;
     position: relative;
     width: 100%;
     padding: 10px 40px;
}
 img.think {
     position: fixed;
     bottom: 0;
}

h1.hone {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 5px;
}
 .tab-content input,.tab-content input {
     border-bottom: 1px solid #fff;
     background: none;
     box-shadow: none;
     border-top: 0px solid #fff;
     border-left: 0px solid #fff;
     border-right: 0px solid #fff;
     border-radius: 0px;
         color: #fff;
}
 form#login-form {
     text-align: center;
}
 button.login-button {
     background: #0076bd;
     border: none;
     color: #fff;
     text-transform: uppercase;
     padding: 9px 27px;
     display: inline-block;
         border-radius: 4px;
}
 .etc-login-form p {
     color: #fff;
     padding-top: 12px;
}
 .etc-login-form p a {
     color: #fff;
     padding-top: 12px;
     text-decoration: none;
}
 .etc-login-form p a:hover {
     color: #fff;
}
.form-control:focus{box-shadow: none; !important;} 

 .nav-tabs {
     border-bottom: 0px solid #1954b7 !important;
}

.fb a {
    float: left;
    margin-right: 10px;
    background: #3c5895;
    border: #3c5895;
    padding: 8px 8px;
}
.google a{
    float: left;
    margin-right: 10px;
    background: #d94030;
    border: #d94030;

    padding: 8px 8px;
}
.etc-login-form p a {
    padding-top: 10px;
    display: inline-block;
}
 .text-slide .carousel-indicators li {
     display: none;
}
}
 .form-control:focus {
     border-color: #ffffff !important;
}

 ul.nav.nav-tabs .one-tb a {
     width: 94px;
     text-align: center;
     letter-spacing: 2px;
     color: #fff;
     height: 37px;
     background-color: #0095ff;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     position: absolute;
     left: -65px;
     top: 29px;
     border: none;
     border-radius: 4px;
}
 span.tm input[type=checkbox], input[type=radio] {
     margin: 4px 0 4px;
     line-height: normal;
     margin-bottom: 22px;
}
.ui-menu .ui-menu-item a:hover {
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: #333 !important;
    cursor: pointer;
    background-color: #00669900 !important;
}
.image img {
    height: 40px !important;
    width: 50px !important;
    float: left;
    object-fit: cover;
    padding-right: 15px;
}
span.tm a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
}
 .nav-tabs {
     margin-top: 0px !important;
}
 .login-group {
     min-height: 269px;
}
 button.login-button:hover {
     background: #000000;
}
 ul.nav.nav-tabs .two-tb a {
     width: 106px;
     color: #fff;
     height: 37px;
    background-color: #0e95ff;
     -ms-transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
     position: absolute;
     left: -71px;
     top: 134px;
     border: none;
     border-radius: 4px;
}
 .post{
    margin-bottom: 15px;
}


span.pro-name.new-dt {
    width: 100%;
    display: block;
    color: #fff;
    padding: 8px;
    background: #0d73bb;
}
 .col-md-12.col-sm-4.col-xs-12.box-shd {
        background: #fff;
    margin-bottom: 10px;
        padding-top: 10px;
    border: 1px solid #dddfe2;
    box-shadow: -4px 4px 31px -10px rgb(185, 185, 185);
}
 section.think-pnl.post-pnl {
     padding-top: 20px;
}
.cmnt-box textarea {
        width: 100%;
    padding: 3px 16px;
    border-radius: 30px;
    margin-top: 7px;
    font-size: 13px;
    cursor: pointer;
}
.t-post img {
    margin-top: 15px;
    object-fit: cover;
}
 p.post-txt {
       display: inline-block;
    padding: 10px 0px;
    margin: 0px;
    font-weight: normal;
    line-height: 1.38;
    color: #716e6e;
    width: 100%;
    font-size: 15px;
    text-transform: capitalize;
}
i.fa.fa-cloud-download {
    padding-right: 3px;
}
 .org{
    background: #f17e00;
}
 .row.org h3 {
     margin: 0px;
     color: #fff;
     text-transform: uppercase;
     font-size: 18px;
     line-height: 39px;
     font-family: 'Roboto', sans-serif;
}
 a.left.fa.fa-chevron-left.btn.btn-success, a.right.fa.fa-chevron-right.btn.btn-success {
     background: none;
     border: none;
     line-height: 39px;
     margin: 0px;
     padding: 0px 4px;
     font-weight: 100;
}
 .info {
     position: absolute;
     bottom: -10px;
     left: 0;
     width: 100%;
}
 .info h5 {
     color: #fff;
     text-transform: uppercase;
     line-height: 21px;
     width: 100%;
     padding: 3px 11px;
     letter-spacing: 1px;
     background: #000000b0;
     text-align: left;
     font-size: 12px;
     font-weight: 300;
}
 .post-pnl .dropdown-menu>li>a:focus, .post-pnl .dropdown-menu>li>a:hover {
     color: #ffffff !important;
     text-decoration: none;
     background-color: #0075ba !important;
}
 ul.dropdown-menu.side-fix {
     padding: 0px;
}
 img.prv {
     padding: 5px 0px;
     width: 40px;
     height: 50px;
     object-fit: cover;
}
 .item {
     margin-top: 13px;
     margin-bottom: 13px;
}
 .col-sm-3.ped-crsl {
     padding: 4px;
}
 .pro img {
     width: 50px;
     height: 50px;
     border-radius: 50px;
}


.profile p {
        line-height:25px;
    padding-left: 7px;
        margin: 0px 0px 10px 0px;
    margin-left: 2px;
    overflow: hidden;
    float: left;
    width: 100%;
}
.profile a:hover {text-decoration:none;}
.profile p:hover {
    background: #fff;
    text-decoration:none;
    cursor: pointer;
}


 .pro1 {
     float: left;
     padding-right: 12px;
}

 .post-img img{
    width: 100%;
}

 .share-area li {
     float: left;
     list-style: none;
     padding-right: 28px;
     color: #717171;
         line-height: 37px;
         cursor: pointer;
}
 i.fa.fa-ellipsis-v {
     float: right;
     font-size: 24px;
     color: #0f74bb;
}
 .share-area{
     border-bottom: 1px solid #e0e0e0;
         clear: both;
}
 .share-area ul {
     margin: 0px;
     padding: 0px;
}
 span.pro-name {
    font-size: 15px;
    color: #616770;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.profile a {
    color: #808080;
    text-decoration: none;
    text-transform: capitalize;
}

 .post img{
    width: 100%;
}
/* .profile::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100px;
     top: 0;
     left: 0;
     z-index: 0;
}*/
 img.profile-photo-md {
     height: 50px;
     width: 50px;
     border-radius: 50%;
}
 .create-post .form-group .form-control {
     border: 1px solid #ccc;
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

 textarea.form-control {
    margin-top: 0px !important;
    float: left;
    border: none !important;
    box-shadow: none;
    overflow: hidden !important;
    width: 100%;
    min-height: 60px;
    max-width: 470px;
    margin-bottom: 10px !important;
}
  
 .create-post .form-group img.profile-photo-md {
     margin-right: 10px;
}
 
 <style> .kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
     margin: 0;
     padding: 0;
     border: none;
     box-shadow: none;
     text-align: center;
}
 .kv-avatar {
     display: inline-block;
}
 .kv-avatar .file-input {
     display: table-cell;
     width: 213px;
}
 .kv-reqd {
     color: red;
     font-family: monospace;
     font-weight: normal;
}
 </style> .btn-file input[type=file] {
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 100%;
     text-align: right;
     opacity: 0;
     background: none;
     cursor: inherit;
     display: block;
}
 .atch input[type=file] {
     display: block;
     opacity: 0;
     cursor: pointer;
     width: 11px;
}
 .vd-post {
     background: #3379b7;
     width: 36px;
     height: 36px;
     border-radius: 4px;
     position: absolute;
     margin-top: 15px;
     top: -15px;
     left: 64px;
}
 .col-md-12.col-sm-12.atch {
     margin-bottom: 20px;
}
 .tools{
     position: absolute;
     top: 0;
     right: 17px;
}
 input#video {
     top: 9px;
     position: absolute;
}
 i.fa.fa-video-camera {
     color: #717171;
     text-align: center;
}

 .carousel-inner>.item>a>img, .carousel-inner>.item>img {
     width: 100% !important;
}
 .carousel-inner img {
     width: 100% !important;
}

.carousel-inner video {
    display: inline-block;
    vertical-align: baseline;
    max-height: 175px !important;
    min-height: 175px !important;
}
.modal-body p.post-txt {
    padding: 0px;
}
.carousel-inner .item img {
    width: 100% !important;
    max-height: 175px;
    min-height: 175px;
}
.slide-three p {
    background: #0f74bb;
    color: #fff;
    font-size: 16px;
    height: 175px;
}

 .up-img{
     position: absolute;
     bottom: 10px;
     width: 20px;
     opacity: 0;
}
 .up-img input[type="file"] {
     width: 10px;
}

 .up-vid input[type="file"] {
     width: 10px;
}
 .atch .glyphicon {
     position: absolute;
     left: 26px;
     color: #fff;
     display: inline-block;
     font-family: 'Glyphicons Halflings';
     font-style: normal;
     font-weight: 400;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     top: 9px;
     cursor: pointer;
}
/*drop*/
 .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
}
 .dropdown {
     position: relative;
     display: inline-block;
     float: right;
}

.post-video{cursor: pointer;}
 .pro1 img {
     width:40px;
     height: 40px;
     border-radius: 50px;
         cursor: pointer;
             margin-bottom: 4px;
}
textarea#share_message {
    width: 100% !important;
    max-width: 600px;
}
 .dropdown-content {
     display: none;
     top: 0px;
     right: 0px;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
 .dropdown-content a:hover {
    background-color: #ddd
}
 .dropdown:hover .dropdown-content {
     display: block;
}
 .dropdown:hover .dropbtn {
     background-color: #3e8e41;
}
 .hr {
     height: 1px;
     width: 100%;
     background: #e0e0e0;
     float: left;
}

 .col-md-12.cmnt-pnl-ped {
     padding: 0px;
}
 .col-md-11.cmnt-pnl-ped {
     padding: 0px;
}

 li.float-right {
     float: right;
}
 .col-md-6.cmnt-pnl-ped {
     padding: 0px;
}
 .col-md-12.col-sm-4.col-xs-12.top-pd-20.cmnt-pnl {
     padding: 10px 0px;
     cursor: pointer;
}

 .rply {
     float: left;
     padding-left: 55px;
     padding-top: 5px;
}

 span.rpl a {
     color: #ababab;
     padding-left: 6px;
}
 ul.dropdown-menu.side-fix {
     left: auto;
     right: 0;
}
 .delete_btn {
     width: 16px;
     height: 16px;
     float: right;
     background: url('../img/message_sprite.png') 0 -16px;
     background-size: 32px;
     cursor: pointer;
}
 .message-notification{
     float: left;
     width: 100%;
}
 a.forget {
     color: #8bb6ff;
     font-size: 12px;
     letter-spacing: 1px;
     font-weight: 100;
}
 
 span.no-text {
     font-size: 15px;
}
 .tab-content.forgt {
     margin-top: 35px;
}
/*drop*/
/*tab*/
/*Fun begins*/
 .tab_container {
     width: 90%;
     margin: 0 auto;
     position: relative;
}
 .updates input{
     clear: both;
     padding-top: 10px;
     display: none;
}
 .updates section {
     clear: both;
     padding-top: 10px;
}
 label.tb {
     font-weight: 300;
     font-size: 14px;
     display: block;
     float: left;
     width: 25%;
     padding: 1.5em;
     color: #757575;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
     background: #f0f0f0;
}

 .updates input.form-control {
     display: block;
     padding: 10px;
     border-radius: 0px;
     margin-bottom:10px;
}
 .tab-content.forgt .form-control{
    color: #eaeaea;
}
 .checkbox input {
     display: block;
     position: relative;
     left: 22px;
}

 h4.upd-h4 {
     clear: both;
     margin: 0px !important;
     padding: 5px 15px 10px;
    /* border-bottom: 1px solid #eaeaea;
     */
}
 .updates .checkbox{
     margin-top: 0px;
     margin-bottom: 16px;
}
 input.file.form-control {
     border: 0px solid;
     margin-bottom: 25px;
}
 .updates select.form-control{
    margin-bottom:10px;
}
 .upd{
    margin-bottom: 30px;
}
 #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 {
     display: block;
     padding: 20px;
     background: #fff;
     color: #999;
}
 .tab_container .tab-content p, .tab_container .tab-content h3 {
     -webkit-animation: fadeInScale 0.7s ease-in-out;
     -moz-animation: fadeInScale 0.7s ease-in-out;
     animation: fadeInScale 0.7s ease-in-out;
}
 .tab_container .tab-content h3 {
     text-align: center;
}
 .tab_container [id^="tab"]:checked + label {
     background: #fff;
     box-shadow: inset 0 3px #0CE;
}
 .tab_container [id^="tab"]:checked + label .fa {
     color: #0CE;
}
 label .fa {
     font-size: 1.3em;
     margin: 0 0.4em 0 0;
}
/*Media query*/
 @media only screen and (max-width: 930px) {
     label span {
         font-size: 14px;
    }
     label .fa {
         font-size: 14px;
    }
}
 @media only screen and (max-width: 768px) {
     label span {
         display: none;
    }
     label .fa {
         font-size: 16px;
    }
     .tab_container {
         width: 98%;
    }
}
/*Content Animation*/
 @keyframes fadeInScale {
     0% {
         transform: scale(0.9);
         opacity: 0;
    }
     100% {
         transform: scale(1);
         opacity: 1;
    }
}
 .pointer {
    cursor: pointer;
}
 ol.carousel-indicators{
    display:none;
}


 .pro-pnl {
     margin-top: 40px;
}
 .cover-pro img {
        float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 0px;
    border: 4px solid #fff;
}
a:focus, a:hover {
    text-decoration: none !important;
    cursor: pointer;
}
.cover-user-name {
       font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    line-height: 44px;
    font-weight: 500;
}
.c-cover-pnl {
    float: left;
    clear: both;
    bottom: 0px;
        position: absolute;

}
dl.dl-horizontal dt {
    text-align: left;
    line-height: 26px;
    margin-bottom: 8px;
    padding-left: 5px;
    font-weight: 700;
    width: 120px;
}
dl.dl-horizontal dd {
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
        margin-left: 0px;
}
dl {
    margin-bottom: 0px !important;
}
.cover-pro.lt-pro {
    left: 29px;
}
.top-pd-20 h1 {
    color: #0e72bd;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #f7f7f7;
}
.profile-bg h2 {
       color: #0e72bd;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #f7f7f7;
}
.profile-bg {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
}
 .village-user-name {
     font-size: 13px;
     text-transform: capitalize;
     color: #333;
     letter-spacing: 1px;
     font-family: 'Roboto', sans-serif;
}
.btn.btn-default.image-preview-input {
    border-color: #fff;
    width: 100%;
}
.cover-pro {
    bottom: 46px;
    position: absolute;
    left: 14px;
}
 .roted{
    transform: rotate(90deg);
     float: left;
     width:10%
}
 .slide-three{
    float: left;
     width: 100%; 
}
 .roted h2 {
     width: 100%;
     font-size: 15px;
     padding: 0px;
     margin: 0px;
     color: #333;
     position: relative;
     left: 40px;
     white-space: nowrap;
}


 .cover i {
     position: absolute;
     right: 24px;
     font-size: 15px;
     color: #fff;
     opacity: 0.8;
     top: 15px;
     background: #000;
     width: 50px;
     height: 50px;
     text-align: center;
     line-height: 50px;
     border-radius: 50px;
}
 .cover-pro:hover .over-ic{
    display: block;
}
 .cover:hover .over-ic1{
    display: block;
}
 .over-ic{
    display: none;
}

.activity-img video {
    height: auto !important;
}



/*tab*/
/*activity*/

 .activity-img li {
     float: left;
     list-style: none;
     width: 100%;
     margin: 2px;
}
 .activity-img ul {
     margin: 0px;
}
 .activity-img li img {
     max-height: 160px;
     min-height: 160px;
     object-fit: cover;
}
.ped-right-0{    padding-right: 0px !important;}
 span.activity-name {
     font-size: 13px;
     display: block;
     color: #0f74bb;
    text-transform: capitalize;
}
 .col-md-12.cv-relt {
     margin-bottom: 16px;
}
 span.activity-date {
     font-size: 13px;
     display: block;
     color: #b4b4b5;
     line-height: 22px;
     font-weight: 100;
}
 i.fa.fa-pencil {
     float: right;
     color: #b1abab;
     cursor: pointer;
}
 ul.dropdown-menu {
     left: auto;
     right: 0;
     border: 0px;
     margin: 0px;
     padding: 0;
}
 span.name-seprter {
     color: #333;
}
/*activity*/
audio { width: 100%; }
.slide-three h4 a {
    color: #4c69c0;
    font-weight: 400;
    font-size: 15px;
}
.item {
    margin: 0px;
    width: 100%;
}
section.think-pnl.post-pnl .ui-autocomplete-input {
    border: 1px solid #0f74bb !important;
    border-radius: 0px !important;
}
i.fa.fa-search.tp-srh {
    position: absolute;
    right: 19px;
        top: 13px;
    background: #f7f7f7;
    color: #b7b7b7;
    padding: 9px;
    cursor: pointer;
}
.share-area ul li a:focus, .share-area ul li a:hover {
    color: #2196F3;
    text-decoration: none;
    cursor: pointer;
}
.share-area ul li a {
    color: #909090;
    text-decoration: none;
}
.post-audio {
    margin-bottom: 15px;
}
button.btn.hme.btn-warning:hover {
       color: #0f75be;
}
.cover {
    border: 1px solid #d2d2d2;
    box-shadow: 1px 7px 18px 0px #ccc;
}
.col-md-12.col-sm-12.col-xs-12.left-pst {
    padding: 0px;
    border-radius: 1px;
}
.ped-0{padding: 0px !important;}
.ped-15-0{padding-left:0px !important;}

a.m-logo img {
    width: 125px;
}
header.header .form-group {
    margin: 3px;
        padding-top: 9px;
}
.login-group input::placeholder{ /* Chrome/Opera/Safari */
      color: #333;
    letter-spacing: 1px;
    font-weight: 100;
}
label.error {
       display: inline-block;
    max-width: 100%;
    margin-top: -1px;
    font-weight: 500;
    position: absolute;
    font-size: 13px;
    color: #ff240c;
    right: 52px;
}
li.one-tb.active a {
    background: #d94030 !important;
}
.croppie-container {
    padding: 0px !important;
    margin-bottom:18px;
}
.modal-body button {
    background: #2196F3 !important;
    border-color: #2196F3 !important;
}
a.post_view_t {
    float: right;
    outline: none;
}
#clike_305
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.content_like,.content_dislike {
    float: right;
    padding-left: 2px;
}
/*.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.share-area:hover .tooltiptext {
    visibility: visible;
}*/


/*img-multi*/
.imglayout_2 {
    width: 50%;
    float: left;
    padding: 3px;
}
.post-img2 {
    width: 50%;
    box-sizing: border-box;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 0px 7px;
    cursor: pointer;
    border: 1px solid #fff;
}
.image-layout-3 .post-img2:nth-child(1), .image-layout-1 .post-img2:nth-child(1){
    width: 100%;
    height: 400px;
    float: left;
}
.image-layout-5 .post-img2:nth-child(3), .image-layout-5 .post-img2:nth-child(4), .image-layout-5 .post-img2:nth-child(5){
    width: 33.3%;
    height: 125px;
    float: left;
}
.image-layout-1, .image-layout-2, .image-layout-3, .image-layout-4, .image-layout-5 {
    clear: both;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}

/*defult img*/
div#moreImgDef {
    position: relative;
    cursor: pointer;
}
div#moreImgDef::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    opacity: .7;
}
div#moreImgDef span {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: normal;
    font-size: 26px;
    color: #FFF;
    transform: translate(-50%, -50%);
}

/*
.scrl::-webkit-scrollbar {
    width: 0px;
}
.scrl{
    overflow: auto;
 height: 100vh;
}*/
div#getFixed {
    position: sticky !important;
    top: 27px;
    height: 100vh;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
ol, ul {
    list-style: none;
}
/*.sticky-myright-side {
    position: relative;
}
.newClass {
    position: fixed;
}*/

i#npimage, i.fa.fa-video-camera, i.fa.fa-music {
  color: #2aa0f3;
    font-size: 17px;
    line-height: 40px;}
.tagline.hm-tx {
    text-align: right;
    font-size: 22px !important;
    line-height: 57px;
    color: #FFEB3B;
    letter-spacing: 0px;
    font-family: 'Kalam', cursive !important;
}

/*aside.fixed {
    position: fixed;
}
*/
/*.sticky-myright-side {
}
.right-sidebar-relative {
	position: relative;
}
.sticky-myright-side.scrolled {
	position: fixed;
}
.newClass {
	position: fixed !important;
}*/
.col-md-12.col-sm-12.col-xs-12.bg-sld {
    padding: 0px;
}
.col-md-3.right-sidebar-relative {
    padding: 0px;
}
.modal-body.user-pro button {
    border-radius: 0px;
    margin-bottom: 10px;
}
.modal-body.user-pro button:hover{background: #0875cc;}
.modal-content {border: 6px solid #b9d8ec !important;border-radius: 0px !important;}
.removed_profile {
    margin-top: 10px;
}
.cr-viewport.cr-vp-square {
    border: 4px solid #b9d8ec !important;
}

.share-area.ped-x li:nth-last-child(2) {
    padding: 0;
}

.flt {
    float: right;
}
.modal-footer {
    border-top: 0px solid #e5e5e5 !important;
}
img.img-responsive.user_img_popup {
    width: 100%;
}


/*file*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ui-widget-content {
    background: #fff !important;
    color: #333 !important;
}
.flt .file-select-button {
    background: #0088c5;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    color: #fff;
    line-height: 40px;
        
}
.removed_profile.pos {
    margin-top: 10px;
    position: relative;
    left: 47px;
    top: 6px;
}
input[type=file] {
    position: absolute;
    top: 25px;
    opacity: 0;
}
/*.flt {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}*/
.flt .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}